
services:
  lambda:
    build:
      context: .
    ports:
      - "9000:8080"
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-east-1
      - S3_ENDPOINT_URL=http://minio:9000
    depends_on:
      - minio

  minio:
    image: minio/minio
    ports:
      - "9001:9000"
    environment:
      - MINIO_ROOT_USER=test
      - MINIO_ROOT_PASSWORD=test
    command: server /data

  create-buckets:
    image: amazon/aws-cli
    environment:
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_REGION=us-east-1
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
        sleep 10;
        aws --endpoint-url http://minio:9000 s3 mb s3://my-bucket;
        aws --endpoint-url http://minio:9000 s3 mb s3://output-bucket;
        exit 0;
      "
